<div id="<%= dom_id superhero %>">
  <p>
    <strong>Name:</strong>
    <%= superhero.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= superhero.description %>
  </p>

  <p>
    <strong>Gadget:</strong>
    <%= superhero.gadget %>
  </p>

<p>
    <strong>Nemesis:</strong>
    <%= superhero.nemesis %>
  </p>
</div>
