<p id="notice"><%= notice %></p>

<h1><%= t '.title' %></h1>

<%= link_to t('.new'), new_superhero_path %>
<br>
<br>
<div>
    <% @superheroes.each do |superhero| %>

        <div id="<%= dom_id superhero %>">
        <%= link_to t('.show'), superhero %>
        <%= link_to t('.edit'), edit_superhero_path(superhero) %>
        <%= link_to t('.destroy'), superhero, method: :delete, data: { confirm: 'Are you sure?' } %>

            <p>
                <strong>Name:</strong>
                <%= superhero.name %>
            </p>
            <p>
                <strong>Description:</strong>
                <%= superhero.description %>
            </p>
            <p>
                <strong>Gadget:</strong>
                <%= superhero.gadget %>
            </p>
            <p>
                <strong>Nemesis:</strong>
                <%= superhero.nemesis %>
            </p>
        </div>
    <% end %>



